extends layout

block content
    #history-container
        table#TableHistory.table.table-striped.dt-responsive.no-footer.dtr-inline.collapsed
            thead.thead-dark
                tr
                    th(style='display: none;') Id
                    th Inrit Datum + Tijd
                    th Uitrit Datum + Tijd
                    th Totale tijd:
                    th Prijs:
            tbody
            each val in [1,2,3,4,5]
                tr.history-tr
                    td.history-id(style='display: none;')
                    td.history-Inrit 14-09-2019 16:39:21
                    td.history-Uitrit 16-09-2019 12:54:34
                    td.history-Tijd 1 uur en 56 min
                    td.history-Prijs $5,23  
