extends layout

include mixins/_parkingSpace


block content
  - var numberplate = `${spaces[0].numberplate}`
  #dashboard-container
    #dashboard-container-row.row
      each space in spaces
        +parkingspace(space)
  script.
    const socket = io();
    socket.on('chatter', function(message) {
      if (message[0] == "getPlate"){
        switch (message[1]) {
          case "1":
            socket.emit('chatter', $('#1')[0].children[0].id);
            break;
          case "2":
            socket.emit('chatter', $('#2')[0].children[0].id);
            break;
          case "3":
            socket.emit('chatter', $('#3')[0].children[0].id);
            break;
          case "4":
            socket.emit('chatter', $('#4')[0].children[0].id); 
            break;
        }
      }
      if (message[0] == "alert"){
        alert(message[1] + "\n"+ message[2]);
      }      
      if (message[0] == "Leave"){
        alert("Car with the numberplate " +message[2]+"\n Has left their parkingspot.");
        switch (message[1]){
          case "1":
            $('#1')[0].children[0].children[1].classList.remove("red");
            let element1 = $('#1')[0].children[0].children[2].children[3];
            element1.textContent = "00:00:00";
            break;
          case "2":
            $('#2')[0].children[0].children[1].classList.remove("red");
            let element2 = $('#2')[0].children[0].children[2].children[3];
            element2.textContent = "00:00:00";
            break;
          case "3":
            $('#3')[0].children[0].children[1].classList.remove("red");
            let element3 = $('#3')[0].children[0].children[2].children[3];
            element3.textContent = "00:00:00";
            break;
          case "4":
            $('#4')[0].children[0].children[1].classList.remove("red");
            let element4 = $('#4')[0].children[0].children[2].children[3];
            element4.textContent = "00:00:00";
            break;
        }
      }
      if (message[0] == "updateTime"){
        switch (message[1]){
          case "1":
            let timeString1 = message[2] + ":" + message[3] + ":" + message[4];
            let element1 = $('#1')[0].children[0].children[2].children[3];
            $('#1')[0].children[0].children[1].classList.add("red");
            element1.textContent = timeString1;
            break;
          case "2":
            let timeString2 = message[2] + ":" + message[3] + ":" + message[4];
            let element2 = $('#2')[0].children[0].children[2].children[3];
            $('#2')[0].children[0].children[1].classList.add("red");
            element2.textContent = timeString2;
            break;
          case "3":
            let timeString3 = message[2] + ":" + message[3] + ":" + message[4];
            let element3 = $('#3')[0].children[0].children[2].children[3];
            $('#3')[0].children[0].children[1].classList.add("red");
            element3.textContent = timeString3;
            break;
          case "4":
            let timeString4 = message[2] + ":" + message[3] + ":" + message[4];
            let element4 = $('#4')[0].children[0].children[2].children[3];
            $('#4')[0].children[0].children[1].classList.add("red");
            element4.textContent = timeString4;
            break;
        }
      }
    });
