mixin parkingspace(space)
    div.col-md-3
        div.card.mb-3(id=`${space.numberplate}`)
            h4.card-title Parkeer plaats #{space.spot}
            svg.card-image
            .card-body
                h4.card-body-text Nummerplaat:
                h2.card-nummerplate-text #{space.numberplate}
                h4.card-body-time Geparkeerde tijd:
                h4.card-body-time 00:00:00
